html,body{margin: 0;padding: 0;height: 100%;}

@panelHeadingColor: #555;
@lightGrey: #aaa;
@inputItemHeight: 30px;
@addOnHeight: @inputItemHeight + 6;
@addOnLineHeight: @inputItemHeight + 4;
@addOnBgc: #79CCD6;
@consoleColor: #00D8FF;
@consoleBgc: #222;
@consoleHeight: 200px;
@mainColorSide: 500px;


#react {
	height: 100%;
	padding: 20px;

	#color-panel {
		margin-right: 320px;
	}

	#info-panel {
		float: right;
		width: 300px;
		border: 3px solid @lightGrey;
		border-radius: 5px;

		h1 {
			text-align: center;
			color: @panelHeadingColor;
		}

		.input-wrap {
			padding: 0 20px;

			.input-item {
				border: 1px solid @lightGrey;
				border-radius: 2px;
				margin: 10px 0;

				.add-on {
					display: inline-block;
					height: @addOnHeight;
					line-height: @addOnLineHeight;
					background-color: @addOnBgc;
					text-align: center;
					font-size: 1em;
					font-weight: 700;
					color: #fff
				}

				.add-on-left {
					width: 30px;
				}

				.add-on-right {
					width: 50px;
				}

				input {
					height: @inputItemHeight;
					width: 174px;
					text-align: center;
					font-size: 1em;
				}
			}
		}

		.console-panel {
			height: @consoleHeight;
			line-height: @consoleHeight;
			margin: 20px;
			border: 1px solid @lightGrey;
			box-shadow: 1px 1px 1px 1px @lightGrey;
			color: @consoleColor;
			font-size: 1.2em;
			font-weight: 400;
			text-align: center;
			background-color: @consoleBgc;
		}

	}

	#color-panel {
		.main-color {
			width: @mainColorSide;
			height: @mainColorSide;
			margin: 0 auto;
		}

		.recommend-color-list {
			li {
				list-style-type: none;
			}
		}
	}
}